.top {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    border-right-width: 1px;
    border-right: 1px solid #E5EBFF;
    padding-top:1.43rem;
  }
    .right-bottom{
    margin-top: 1rem;
border-radius: 5px;
border-width: 0.5px;
border: 0.5px solid #B7C7FF

  }
  .hr{
    /* all: unset;              
  display: block;
  width: 100%;
  height: 1px;
  background-color: #E5EBFF;
  margin-bottom: 1rem;   */
  /* width: 71px;
height: 140px;
border-right-width: 1px;
transform: rotate(-90deg);
left:123px;
position: absolute;
top: -30px; */

  }
  .separator{
    display: flex;
    flex-direction: column;
  }