.whole {
    display: flex;
  }


  
  .rest-page {
    flex: 1;
    padding: 1rem;
  }
  




  


  @media (min-width: 118.75rem) { 
    .whole {
        max-width: 86.8125rem; 
        margin-left: auto; 
        margin-right: auto; 
    }
    .rest-page {
        /* max-width: 81rem;  */
        /* margin-left: 93px;  */
        margin-right: 0;
        /* padding: 1rem 2rem; */
        flex-grow: 0;
        width: auto;
    }
    .bottom {
        gap: 2rem;
    }


    .right top{
      gap: 1rem;
    }
    .section-1, .section-2 {
        flex: 1 1 auto; 
        max-width: 100%; 
    }

    .bottom-2 {
        padding: 2.18rem 4rem 0rem 4rem; 
    } 
} 






