.whole {
    display: flex;
  }
  
  .Navbar {
    justify-content: space-between;
    height: 100vh;
    padding: 1rem;
    width: 93px;
    border-right-width: 1px;
    border-right: 1px solid #E5EBFF;
  }
  .background-1{
    background: linear-gradient(0deg, #D7E0FF, #D7E0FF),
linear-gradient(321.06deg, #182B68 -4.53%, #2746AA 32.68%, #3D65F4 72.04%);

  }

  
  .rest-page {
    flex: 1;
    padding: 1rem;
  }

  
  .top {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    border-right-width: 1px;
    border-right: 1px solid #E5EBFF
  }
  
  .bottom {
    display: flex;
    gap: 1rem;
  }
  
  .left {
    flex: 1;
    /* width: 500px; */

  }
  
  .head {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;
  
    padding: 8px 16px;
    border-radius: 5px;
  
    background: 
      linear-gradient(#fff, #fff) padding-box, 
      linear-gradient(96.65deg, #9676F1 36.24%, #3D65F4 63.77%, #FF7B7B 124.95%) border-box; 
    border: 1px solid transparent;
    display: inline-block; 
  }

  .list-container {
    padding: 1rem;
    padding: 1.5rem;
  }

  .submit-project-btn {
    display: block;
    width: 100%;
    padding: 0.8rem 1.5rem;
    margin-top: 1.5rem;
    background-color: peachpuff;
    color: #fff;
    font-family: 'Sora', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 0.5rem;

  }
  
  .vertical-line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2rem;
    width: 2px;
    background-color: #c7d2fe;
  }
  
  .section {
    margin-bottom: 2rem; 
    width: 250px;
    overflow-y: auto;
    
  }
  .middle span{
    font-family: Sora;
    font-weight: 600;
    font-size: 9.01px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;    
  }

  .horizontal-connector {
    position: absolute;
    top: 0.75rem; 
    left: -1.5rem; 
    width: 1.5rem;
    height: 2px;
    background-color: #c7d2fe;
    z-index: 1;
  }

  
  .section-title {
font-weight: 600;
font-size: 13px;
line-height: 22px;
letter-spacing: 0.2px; 

  }
  
  .section-items {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  
  .item-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    border: 1px solid transparent;
    cursor: pointer;
  }
  
  .item-default {
    background-color: #f9fafb;
    color: #1f2937; 
    border-color: #e5e7eb;
  }
  
  .item-completed {
    background-color: #d1fae5;
    color: #065f46;
    border-color: #bbf7d0;
  }
  
  .item-active {
    background-color: #4f46e5;
    color: white;
    border-color: #4338ca;
  }
  
  .item-locked {
    background-color: #e9d5ff;
    color: #6b21a8;
    border-color: #d8b4fe;
    opacity: 0.8;
  }
  
  .item-text {
    font-family: Sora;
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.2px;
    
  }
  
  
  .icon-check {
    color: #22c55e;
  }
  
  .icon-lock {
    color: #a855f7;
  }
  
  .section-button {
    border: 1px solid #DCFF24;
    background: #FBFFE6;
    color: #182B68;
    border-radius: 5px;
     border-width: 1px;
font-weight: 600;
font-size: 13px;
line-height: 22px;
letter-spacing: 0.2px;
  }

  /* end  */


  .switch-static {
    width: 40px;
    height: 20px;
    background-color: #ccc; 
    border-radius: 999px;
    position: relative;
  }
  
  .circle-static {
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 22px; 
  }
  


  .c-1{
border-radius: 20px;
gap: 1rem;
display: flex;
align-items: center;
padding: 0.3rem;
  }
  .list-container {
    overflow-y: auto; 
    height: 100vh;
}
  /* .streak{
    flex-wrap: wrap;
    gap: 1.4rem;
    align-items: stretch;
    
  } */

  .streak {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    max-width: 200px; 
    height: 100%; 
  }
  
  .streak img{
    width: 0.8rem;
    height: auto;
  }

  .streak span{
    font-family: Inter;
font-weight: 500;
font-size: 9px;
line-height: 100%;
letter-spacing: -0.25px;

  }
  .timer{
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid #B7C7FF;
  padding: 0.75rem;
  width: auto;     
  height: 100%;  
  }

  .timer span{
    font-family: Sora;
font-weight: 600;
font-size: 12px;
line-height: 100%;
letter-spacing: -0.25px;
vertical-align: middle;

  }

  .section-1{
    border: 0.5px solid #B7C7FF;
    padding: 1rem;
    gap: 1rem;
    height: 120px;
    align-items: stretch;
  }


  .section-2 img{
    width: 20px;
    height: auto;
  }

  .section-2{
    border-radius: 5px;
  
    background: 
      linear-gradient(#fff, #fff) padding-box, 
      linear-gradient(96.65deg, #9676F1 36.24%, #3D65F4 63.77%, #FF7B7B 124.95%) border-box; /* gradient border */
    border: 1px solid transparent;
    justify-content: center;
    align-items: flex-end;

border-radius: 5px;
border-width: 1px;
padding: 1rem;

width: 200px;

  }
  .mark{
    background: #EDFDF9;
    border-radius: 10px;

  }

  .mark span{
    font-family: Sora;
font-weight: 600;
font-size: 10px;
line-height: 24px;
letter-spacing: 0.25px;
color: #27AE7A;

  }

  .section-2 span{
    background: linear-gradient(90deg, #9676F1 0%, #3D65F4 44.31%, #FF7B7B 101.27%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
  color: transparent;
  }

  .right-bottom{
    margin-top: 1rem;
border-radius: 5px;
border-width: 0.5px;
border: 0.5px solid #B7C7FF

  }

  .bottom-1{
    border: 1px solid #B7C7FF;
    padding: 1rem 0rem;
  }
  .bottom-2{
    padding: 2.18rem 6rem 0rem 6rem ;
  } 


  .bottom-2 p{
    font-family: Sora;
font-weight: 400;
font-size: 13px;
line-height: 26px;
letter-spacing: 0.2px;
color: #182B68;
margin-left: 0.5rem;


  }

  .space{
    margin-left: 0.5rem;
  }

  .term{
    color: #182B68;
    font-family: Sora;
font-weight: 700;
font-size: 13px;
line-height: 26px;
letter-spacing: 0.2px;
text-align: justify;

  }
  .definition{
    font-family: Sora;
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;
    letter-spacing: 0.2px;
    text-align: justify;
    
  }

  .bottom-3{
    border: 1px solid #DED3FF;
    padding: 1.3rem;
    background: linear-gradient(91.98deg, #F6F5FF 9%, #FFFFFF 25.41%, #FAF9FF 31.18%, #F8F8FF 59.04%, #F8F7FF 67.73%, #FFFFFF 82.23%, #F6F6FF 94.15%);

  }



  .free-resources-container {
    padding: 20px;
    border-radius: 12px;
    font-family: 'Inter', sans-serif;
    max-width: 800px; 
    margin: 20px auto;
  }


  .resources-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 15px;
  }
  .grid-separator{
    width: 1px;
  }

  .grid-separator {
    width: 1px;
    background-color: #d1d5db; 
    height: 100%;
    justify-self: center;
    display: none; 
  }

  .resources-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .resource-type-tag {
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #fff;
    margin-right: 10px;
    min-width: 80px; 
    text-align: center;
  }

  .tag-blue {
    background-color: #3D65F4; 
  }
  .tag-purple {
    background-color: #9676F1;
  }
  .tag-red {
    background-color: #FF7B7B; 
  }

  .resource-label {
font-weight: 600;
font-size: 13px;
line-height: 22px;
letter-spacing: 0.2px;
text-decoration: underline;
text-decoration-style: solid;
text-decoration-offset: 0%;
text-decoration-thickness: 0%;
color: #3D65F4;

  }
  /* end */

  .logo{
    width: 31px;
    height: auto;
  }
  .icons{
    width: 23px;
    height: auto;
  }


  /* end */
  
  .list-part {
    position: relative;
    padding: 1rem;
  }
  
  .timeline-line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2rem;
    width: 2px;
    background-color: #c7d2fe;
  }

  @media (min-width: 118.75rem) { 
    .whole {
        max-width: 86.8125rem; 
        margin-left: auto; 
        margin-right: auto; 
    }
    .rest-page {
        max-width: 81rem; 
        margin-left: 0;
        margin-right: 0;
        padding: 1rem 2rem;
        flex-grow: 0;
        width: auto;
    }
    .bottom {
        gap: 2rem;
    }
    .left {
        flex: none;
    }
    .right {
        flex: none;
        width: 40rem;
    }

    .right top{
      gap: 1rem;
    }
    .section-1, .section-2 {
        flex: 1 1 auto; 
        max-width: 100%; 
    }

    .right-top{
      gap: 0rem;
    }
    .bottom-2 {
        padding: 2.18rem 4rem 0rem 4rem; 
    } 
}